data
.ipynb_checkpoints
*_pycache_*
*.whl
*.spec
*egg-info
dist
.DS_store
build
*.env
temp
.python-version

# VS Code specific
.vscode/
.history/
*.code-workspace

# Python specific
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/